AddDefaultCharset UTF-8
AddType application/x-httpd-php .htm

RewriteEngine on

# Файлы доступ к которым осуществляется напрямую (не через index.php)
RewriteCond $1                      ^assets/ 
RewriteRule ^(.*)$           		$1 [L]

# /что угодно?GET					-> /?/что угодно/?GET
# /что угодно/?GET					-> /?/что угодно/?GET
RewriteBase /
RewriteCond $1 						!^(index\.php)
RewriteCond  %{QUERY_STRING}		^(.*)$
RewriteRule ^(.*?)/?$ 				index.php/?/$1/&%1 [L]

