
.card-group {
  .card:not(:last-child) {
    margin-right: 10px;

  }

  .card {
    border: none;
    border-radius: unset;
  }
}

@media (max-width: 575px) {
  .card-group {
    .card:not(:last-child) {
      margin-right: 0;
    }
  }
}