
.carousel {
  .carousel-indicators {
    button {
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }
  }

  .carousel-control-prev-icon, .carousel-control-next-icon {
    width: 60px;
    height: 60px;
    background-image: url("/assets/img/carousel/button/prev.svg");
  }

  .carousel-control-prev-icon {
    background-image: url("/assets/img/carousel/button/prev.svg");
  }
  .carousel-control-next-icon {
    background-image: url("/assets/img/carousel/button/next.svg");
  }

  .carousel-inner {

    .carousel_seal_inner {
      position: absolute;
      bottom: 150%;
      left: -60%;

      .carousel_seal {
        width: 35%;
      }

      h2 {
        color: white;
      }
    }
  }
}
@media (max-width: 768px) {
  .carousel {
    .carousel-inner {

      .carousel_seal_inner {
        position: absolute;
        right: -10%;
        bottom: 100%;

        .carousel_seal {
          display: none;
        }
      }
    }
  }
}