@import "info";
@import "navbar";
@import "carousel";
@import "footer";
@import "card-group";
@import "breadcrumb";
@import "social_icon";

header {
  padding: 20px 0 0 0;
  background-color: white;
}

body {
  background-color: #f1f1f1;
}

main {

  .container {
    margin-top: 15px;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style-type:  none;
}

.logo {
  width: 100px;
  height: 42px;
  margin-right: 10px;
}

i {
  display: block;
  background-repeat: no-repeat;
}

