.info {
  width: 52%;
  justify-content: space-between;
}

.location_wrap {
  text-decoration: none;
  color: black;
}
.location_wrap:hover {
  color: #ba2834;
}

.mail_wrap, .phone_wrap, .location_wrap {
  width: 200px;
}
.mail_wrap .mail_inner, .mail_wrap .phone_inner, .mail_wrap .location_inner, .phone_wrap .mail_inner, .phone_wrap .phone_inner, .phone_wrap .location_inner, .location_wrap .mail_inner, .location_wrap .phone_inner, .location_wrap .location_inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 50px;
  font-size: 13px;
}
.mail_wrap .mail_inner a, .mail_wrap .phone_inner a, .mail_wrap .location_inner a, .phone_wrap .mail_inner a, .phone_wrap .phone_inner a, .phone_wrap .location_inner a, .location_wrap .mail_inner a, .location_wrap .phone_inner a, .location_wrap .location_inner a {
  text-decoration: none;
  color: black;
}
.mail_wrap .mail_inner a:hover, .mail_wrap .phone_inner a:hover, .mail_wrap .location_inner a:hover, .phone_wrap .mail_inner a:hover, .phone_wrap .phone_inner a:hover, .phone_wrap .location_inner a:hover, .location_wrap .mail_inner a:hover, .location_wrap .phone_inner a:hover, .location_wrap .location_inner a:hover {
  color: #ba2834;
}

@media (max-width: 992px) {
  .info {
    display: none !important;
  }
}
.navbar {
  background-color: #ba2834 !important;
}
.navbar .location, .navbar .mail, .navbar .phone {
  display: none;
}
.navbar .dropdown:hover > .dropdown-menu {
  display: block;
}
.navbar .dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}
.navbar li a {
  padding-right: 5px;
  color: white;
}
.navbar li a:focus {
  color: white;
}
.navbar li:hover {
  background-color: white;
}
.navbar li:hover a {
  color: #ba2834;
}
.navbar .nav-link.show {
  background-color: white;
  color: #ba2834;
}
.navbar .dropdown-menu li a {
  background-color: white;
  color: #ba2834;
}
.navbar .dropdown-menu li a:hover {
  background-color: #f1f1f1;
}

@media (max-width: 992px) {
  .navbar {
    min-height: 50px;
  }
  .navbar .location, .navbar .mail, .navbar .phone {
    display: block;
  }
}
.carousel .carousel-indicators button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.wrap_footer {
  background-image: url("/assets/img/footer.jpg");
}
.wrap_footer footer .mail_wrap, .wrap_footer footer .phone_wrap {
  margin: 0;
}
.wrap_footer footer .mail_wrap .mail_inner a, .wrap_footer footer .mail_wrap .phone_inner a, .wrap_footer footer .phone_wrap .mail_inner a, .wrap_footer footer .phone_wrap .phone_inner a {
  text-decoration: none;
  color: white;
}
.wrap_footer footer .mail_wrap .mail_inner a:hover, .wrap_footer footer .mail_wrap .phone_inner a:hover, .wrap_footer footer .phone_wrap .mail_inner a:hover, .wrap_footer footer .phone_wrap .phone_inner a:hover {
  color: #ba2834;
}
.wrap_footer footer .inner_footer {
  justify-content: space-between;
}
.wrap_footer footer .inner_footer .site_map {
  width: 46%;
  display: flex;
  justify-content: space-around;
}
.wrap_footer footer .inner_footer .site_map .element {
  margin-right: 15px;
}
.wrap_footer footer .inner_footer .site_map a {
  color: white;
}
.wrap_footer footer .inner_footer .site_map a:hover {
  color: #ba2834;
}
.wrap_footer footer .inner_footer .call_back {
  width: 40%;
}
.wrap_footer footer .telegram {
  background-image: url("/assets/img/socialmedia/telegram-white.svg");
}
.wrap_footer footer .telegram:hover {
  background-image: url("/assets/img/socialmedia/telegram-blue.svg");
}
.wrap_footer footer .whatsapp {
  background-image: url("/assets/img/socialmedia/whatsapp-white.svg");
}
.wrap_footer footer .whatsapp:hover {
  background-image: url("/assets/img/socialmedia/whatsapp_green.svg");
}

.card-group .card:not(:last-child) {
  margin-right: 10px;
}
.card-group .card {
  border: none;
  border-radius: unset;
}

.breadcrumb .breadcrumb-item a {
  color: #ba2834;
}
.breadcrumb .active {
  color: black;
}

.social_icon {
  height: 24px;
  width: 24px;
}
.social_icon.telegram {
  background-image: url("/assets/img/socialmedia/telegram.svg");
}
.social_icon.telegram:hover {
  background-image: url("/assets/img/socialmedia/telegram-blue.svg");
}
.social_icon.whatsapp {
  background-image: url("/assets/img/socialmedia/whatsapp.svg");
}
.social_icon.whatsapp:hover {
  background-image: url("/assets/img/socialmedia/whatsapp_green.svg");
}

.slogan p {
  display: flex;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0;
}

@media (min-width: 576px) and (max-width: 992px) {
  /**
    .slogan {
      p {
        display: none;
      }
  
      width: 50px;
      background-image: url("/assets/img/slogan.png");
      background-repeat: no-repeat;
      background-size: 100%;
    }
    */
}
.page_product .btn_wrap {
  display: flex;
  justify-content: end;
}
.page_product .cover {
  width: 40%;
}
.page_product .characteristics_wrap {
  width: 60%;
}
.page_product ul li {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}
.page_product .element {
  width: 70%;
  display: flex;
}
.page_product .characteristics {
  width: 30%;
  display: flex;
  justify-content: end;
  margin-left: 5px;
}

.btn_base {
  color: #fff;
  background-color: #bf262e;
  border-color: #bf262e;
  border-radius: 5px;
}

header {
  padding: 20px 0 0 0;
  background-color: white;
}

body {
  background-color: #f1f1f1;
  font-family: "Roboto", sans-serif;
}

main .container {
  margin-top: 15px;
}

a {
  text-decoration: none !important;
  color: black;
}

ul {
  list-style-type: none;
}

.logo {
  width: 130px;
  height: 50px;
  margin-right: 10px;
}

i {
  display: block;
  background-repeat: no-repeat;
}
