@import "info";
@import "navbar";
@import "carousel";
@import "footer";
@import "card-group";
@import "breadcrumb";
@import "social_icon";

header {
  padding: 20px 0 0 0;
  background-color: white;
}

body {
  background-color: #f1f1f1;
}

main {

  .container {
    margin-top: 15px;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style-type:  none;
}

.logo {
  width: 100px;
  height: 42px;
  margin-right: 10px;
}

i {
  display: block;
  background-repeat: no-repeat;
}
.social_icon {
  height: 24px;
  width: 24px;
}

.telegram {
  background-image: url("/assets/img/socialmedia/telegram.svg");

  &:hover {
    background-image: url("/assets/img/socialmedia/telegram-blue.svg");
  }
}

.whatsapp {
  background-image: url("/assets/img/socialmedia/whatsapp.svg");

  &:hover {
    background-image: url("/assets/img/socialmedia/whatsapp_green.svg");
  }
}

.info {
  margin-left: 15px;

}
.location_wrap {
  text-decoration: none;
  color: black;

  &:hover {
    color: rgb(186, 40, 52);
  }
}

.mail_wrap, .phone_wrap, .location_wrap{
  width: 200px;

  .mail_inner, .phone_inner, .location_inner{
    height: 50px;
    font-size: 13px;

    a {
      text-decoration: none;
      color: black;

      &:hover {
        color: rgb(186, 40, 52);
      }
    }
  }
}

footer {
  .mail_wrap, .phone_wrap, .location_wrap{

    .mail_inner, .phone_inner, .location_inner{

      a {
        text-decoration: none;
        color: white;

        &:hover {
          color: rgb(186, 40, 52);
        }
      }
    }
  }

}
.navbar {
  background-color: rgb(186, 40, 52) !important;

  .dropdown:hover>.dropdown-menu {
    display: block;
  }

  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
  }

  li {

    a {
      padding-right: 5px;
      color: white;

      &:focus {
        color: white;
      }
    }

    &:hover {
      background-color: white;

      a {
        color: rgb(186, 40, 52);
      }
    }
  }

  .nav-link.show {
    background-color: white;
    color: rgb(186, 40, 52);


  }

  .dropdown-menu {
    li {
      a {
        background-color: white;
        color: rgb(186, 40, 52);

        &:hover {
          background-color: #f1f1f1;
        }
      }

    }
  }

}
.carousel {
  .carousel-indicators {
    button {
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }
  }
}

.wrap_footer {
  background-image: url("/assets/img/footer.jpg");

  footer {

    .inner_footer{
      justify-content: space-between;

      .site_map{
        width: 46%;
        display: flex;
        justify-content: space-around;
      }

      .call_back {
        width: 40%;
      }
    }

    .telegram {
      background-image: url("/assets/img/socialmedia/telegramWhite.svg");

      &:hover {
        background-image: url("/assets/img/socialmedia/telegram-blue.svg");
      }
    }

    .whatsapp {
      background-image: url("/assets/img/socialmedia/whatsappWhite.svg");

      &:hover {
        background-image: url("/assets/img/socialmedia/whatsapp_green.svg");
      }
    }
  }
}

.card-group {

  .card:not(:last-child) {
    margin-right: 10px;

  }

  .card {
    border: none;
    border-radius: unset;
  }
}

.breadcrumb {

  .breadcrumb-item {
    a {
      color: rgb(186, 40, 52);
    }

  }

  .active {
    color: black;
  }
}
