@import "info";
@import "navbar";
@import "carousel";
@import "footer";
@import "card-group";
@import "breadcrumb";
@import "social_icon";

header {
  padding: 20px 0 0 0;
  background-color: white;
}

body {
  background-color: #f1f1f1;
}

main {
  .container {
    margin-top: 15px;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style-type:  none;
}

.logo {
  width: 100px;
  height: 42px;
  margin-right: 10px;
}

i {
  display: block;
  background-repeat: no-repeat;
}

.slogan {
  display: flex;
  justify-content: center;

}
@media (min-width: 576px) and (max-width: 992px) {
  .slogan {
    p {
      display: none;
    }

    width: 50px;
    background-image: url("/assets/img/slogan.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
