.info {
  margin-left: 15px;
}
.info .location_wrap {
  text-decoration: none;
  color: black;
}
.info .location_wrap:hover {
  color: #ba2834;
}
.info .mail_wrap, .info .phone_wrap, .info .location_wrap {
  width: 200px;
}
.info .mail_wrap .mail_inner, .info .mail_wrap .phone_inner, .info .mail_wrap .location_inner, .info .phone_wrap .mail_inner, .info .phone_wrap .phone_inner, .info .phone_wrap .location_inner, .info .location_wrap .mail_inner, .info .location_wrap .phone_inner, .info .location_wrap .location_inner {
  height: 50px;
  font-size: 13px;
}
.info .mail_wrap .mail_inner a, .info .mail_wrap .phone_inner a, .info .mail_wrap .location_inner a, .info .phone_wrap .mail_inner a, .info .phone_wrap .phone_inner a, .info .phone_wrap .location_inner a, .info .location_wrap .mail_inner a, .info .location_wrap .phone_inner a, .info .location_wrap .location_inner a {
  text-decoration: none;
  color: black;
}
.info .mail_wrap .mail_inner a:hover, .info .mail_wrap .phone_inner a:hover, .info .mail_wrap .location_inner a:hover, .info .phone_wrap .mail_inner a:hover, .info .phone_wrap .phone_inner a:hover, .info .phone_wrap .location_inner a:hover, .info .location_wrap .mail_inner a:hover, .info .location_wrap .phone_inner a:hover, .info .location_wrap .location_inner a:hover {
  color: #ba2834;
}

.navbar {
  background-color: #ba2834 !important;
}
.navbar .dropdown:hover > .dropdown-menu {
  display: block;
}
.navbar .dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}
.navbar li a {
  padding-right: 5px;
  color: white;
}
.navbar li a:focus {
  color: white;
}
.navbar li:hover {
  background-color: white;
}
.navbar li:hover a {
  color: #ba2834;
}
.navbar .nav-link.show {
  background-color: white;
  color: #ba2834;
}
.navbar .dropdown-menu li a {
  background-color: white;
  color: #ba2834;
}
.navbar .dropdown-menu li a:hover {
  background-color: #f1f1f1;
}

.carousel .carousel-indicators button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.wrap_footer {
  background-image: url("/assets/img/footer.jpg");
}
.wrap_footer footer .inner_footer {
  justify-content: space-between;
}
.wrap_footer footer .inner_footer .site_map {
  width: 46%;
  display: flex;
  justify-content: space-around;
}
.wrap_footer footer .inner_footer .call_back {
  width: 40%;
}

.card-group .card:not(:last-child) {
  margin-right: 10px;
}
.card-group .card {
  border: none;
  border-radius: unset;
}

.breadcrumb .breadcrumb-item a {
  color: #ba2834;
}
.breadcrumb .active {
  color: black;
}

.social_icon {
  height: 24px;
  width: 24px;
}
.social_icon.telegram {
  background-image: url("/assets/img/socialmedia/telegram.svg");
}
.social_icon.telegram:hover {
  background-image: url("/assets/img/socialmedia/telegram-blue.svg");
}
.social_icon.whatsapp {
  background-image: url("/assets/img/socialmedia/whatsapp.svg");
}
.social_icon.whatsapp:hover {
  background-image: url("/assets/img/socialmedia/whatsapp_green.svg");
}

header {
  padding: 20px 0 0 0;
  background-color: white;
}

body {
  background-color: #f1f1f1;
}

main .container {
  margin-top: 15px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.logo {
  width: 100px;
  height: 42px;
  margin-right: 10px;
}

i {
  display: block;
  background-repeat: no-repeat;
}
