
.navbar {
  background-color: rgb(186, 40, 52) !important;

  .sandwich {
    border: 2px solid white;
    box-shadow: none;

    .navbar-toggler-icon {
      background-image: url("/assets/img/nav/menu.svg");
    }
  }

  .location, .mail, .phone {
   display: none;
  }

  .dropdown:hover>.dropdown-menu {
    display: block;
  }

  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
  }

  li {

    a {
      padding-right: 5px;
      color: white;

      &:focus {
        color: white;
      }
    }

    &:hover {
      background-color: white;

      a {
        color: rgb(186, 40, 52);
      }
    }
  }

  .nav-link.show {
    background-color: white;
    color: rgb(186, 40, 52);
  }

  .dropdown-menu {

    li {
      span {
        color: black;
      }

      a {
        background-color: white;
        color: rgb(186, 40, 52);

        &:hover {
          background-color: #f1f1f1;
        }
      }
    }
  }

  .nav-item {
    span {
      background-color: white;
      color: rgb(186, 40, 52);
    }
  }
}
@media (max-width: 992px) {
  .navbar {
    min-height: 50px;

    .navbar_inner {
      padding: 5px 0;
    }

    .location, .mail, .phone {
      display: block;
    }
  }
}
