.slogan {
  p {
    display: flex;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  //.slogan {
  //  p {
  //    display: none;
  //  }
  //
  //  width: 50px;
  //  background-image: url("/assets/img/slogan.png");
  //  background-repeat: no-repeat;
  //  background-size: 100%;
  //}
}
